@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');


.inputBox{
    display: grid;
    place-items:center;
    height: 100vh;
    background-color:#f8f8f8;
    padding-left: 400px;
    padding-right: 400px;
    
}
.inputBox__field{
    padding: 15px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: white;
    padding-top: 0px;
    padding-bottom: 50px;
    margin: 20px;

}
.inputBox__field > h1 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
.inputBox__field > img {
    width: 15%;
    padding-top: 20px;
    padding-bottom: 40px;
}
.inputBox__field> form>button{
    margin-top: 30px;
    text-transform: inherit !important;
    background-color: green !important;
    color: white;
}